@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

/* BOILERPLATE */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    line-height: var(--sc-C);
}

html,
body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

html {
    font-size: 16px;
}

/* SCALES */

:root {
    /* Perfect Fourth */
    --sc-A: 1.333;
    /* Perfect Fifth */
    --sc-B: 1.500;
    /* Fibonacci Golden Ratio */
    --sc-C: 1.618;
    /* Major Third */
    --sc-D: 1.250;
}

:root {
    /* set a base unit */
    --sp-base: 8px;
    /* Standard spacing tokens are linearly incremental */
    --sp-1: var(--sp-base);
    --sp-2: calc(var(--sp-1) + var(--sp-base));
    --sp-3: calc(var(--sp-2) + var(--sp-base));
    --sp-4: calc(var(--sp-3) + var(--sp-base));
    --sp-5: calc(var(--sp-4) + var(--sp-base));
    --sp-6: calc(var(--sp-5) + var(--sp-base));
    --sp-7: calc(var(--sp-6) + var(--sp-base));
    --sp-8: calc(var(--sp-7) + var(--sp-base));
    /* Scalar spacing tokens are according to scale system variables */
    /* Scalar A */
    --spsc-1: var(--sp-base);
    --spsc-2: calc(var(--spsc-1) * var(--sc-A));
    --spsc-3: calc(var(--spsc-2) * var(--sc-A));
    --spsc-4: calc(var(--spsc-3) * var(--sc-A));
    --spsc-5: calc(var(--spsc-4) * var(--sc-A));
    --spsc-6: calc(var(--spsc-5) * var(--sc-A));
    --spsc-7: calc(var(--spsc-6) * var(--sc-A));
    --spsc-8: calc(var(--spsc-7) * var(--sc-A));
    --spsc-9: calc(var(--spsc-8) * var(--sc-A));
    --spsc-10: calc(var(--spsc-9) * var(--sc-A));
    --spsc-11: calc(var(--spsc-10) * var(--sc-A));
    --spsc-12: calc(var(--spsc-11) * var(--sc-A));
}

@media screen and (max-width: 560px) {
    :root {
       --spsc-1: var(--sp-base);
       --spsc-2: calc(var(--spsc-1) * var(--sc-D));
       --spsc-3: calc(var(--spsc-2) * var(--sc-D));
       --spsc-4: calc(var(--spsc-3) * var(--sc-D));
       --spsc-5: calc(var(--spsc-4) * var(--sc-D));
       --spsc-6: calc(var(--spsc-5) * var(--sc-D));
       --spsc-7: calc(var(--spsc-6) * var(--sc-D));
       --spsc-8: calc(var(--spsc-7) * var(--sc-D));
       --spsc-9: calc(var(--spsc-8) * var(--sc-D));
       --spsc-10: calc(var(--spsc-9) * var(--sc-D));
       --spsc-11: calc(var(--spsc-10) * var(--sc-D));
       --spsc-12: calc(var(--spsc-11) * var(--sc-D));
   }
}

@media screen and (min-width: 720px) {
    :root {
       --spsc-1: var(--sp-base);
       --spsc-2: calc(var(--spsc-1) * var(--sc-B));
       --spsc-3: calc(var(--spsc-2) * var(--sc-B));
       --spsc-4: calc(var(--spsc-3) * var(--sc-B));
       --spsc-5: calc(var(--spsc-4) * var(--sc-B));
       --spsc-6: calc(var(--spsc-5) * var(--sc-B));
       --spsc-7: calc(var(--spsc-6) * var(--sc-B));
       --spsc-8: calc(var(--spsc-7) * var(--sc-B));
       --spsc-9: calc(var(--spsc-8) * var(--sc-B));
       --spsc-10: calc(var(--spsc-9) * var(--sc-B));
       --spsc-11: calc(var(--spsc-10) * var(--sc-B));
       --spsc-12: calc(var(--spsc-11) * var(--sc-B));
   }
}

@media screen and (min-width: 1024px) {
    :root {
       --spsc-1: var(--sp-base);
       --spsc-2: calc(var(--spsc-1) * var(--sc-B));
       --spsc-3: calc(var(--spsc-2) * var(--sc-B));
       --spsc-4: calc(var(--spsc-3) * var(--sc-B));
       --spsc-5: calc(var(--spsc-4) * var(--sc-B));
       --spsc-6: calc(var(--spsc-5) * var(--sc-B));
       --spsc-7: calc(var(--spsc-6) * var(--sc-B));
       --spsc-8: calc(var(--spsc-7) * var(--sc-B));
       --spsc-9: calc(var(--spsc-8) * var(--sc-B));
       --spsc-10: calc(var(--spsc-9) * var(--sc-B));
       --spsc-11: calc(var(--spsc-10) * var(--sc-B));
       --spsc-12: calc(var(--spsc-11) * var(--sc-B));
   }
}

/* FONT SIZES AND STYLES*/

:root {
    --fs-1: 1rem;
    --fs-2: calc(var(--fs-1) * var(--sc-A));
    --fs-3: calc(var(--fs-2) * var(--sc-A));
    --fs-4: calc(var(--fs-3) * var(--sc-A));
    --fs-5: calc(var(--fs-4) * var(--sc-A));
    --fs-6: calc(var(--fs-5) * var(--sc-A));
}

@media screen and (max-width: 560px) {
     :root {
        --fs-1: 1rem;
        --fs-2: calc(var(--fs-1) * var(--sc-D));
        --fs-3: calc(var(--fs-2) * var(--sc-D));
        --fs-4: calc(var(--fs-3) * var(--sc-D));
        --fs-5: calc(var(--fs-4) * var(--sc-D));
        --fs-6: calc(var(--fs-5) * var(--sc-D));
    }
}

@media screen and (min-width: 720px) {
     :root {
        --fs-1: 1rem;
        --fs-2: calc(var(--fs-1) * var(--sc-B));
        --fs-3: calc(var(--fs-2) * var(--sc-B));
        --fs-4: calc(var(--fs-3) * var(--sc-B));
        --fs-5: calc(var(--fs-4) * var(--sc-B));
        --fs-6: calc(var(--fs-5) * var(--sc-B));
    }
}

@media screen and (min-width: 1024px) {
     :root {
        --fs-1: 1rem;
        --fs-2: calc(var(--fs-1) * var(--sc-C));
        --fs-3: calc(var(--fs-2) * var(--sc-C));
        --fs-4: calc(var(--fs-3) * var(--sc-C));
        --fs-5: calc(var(--fs-4) * var(--sc-C));
        --fs-6: calc(var(--fs-5) * var(--sc-C));
    }
}

h1 {
    font-size: var(--fs-3);
    font-weight: 400;
}

h2 {
    font-size: var(--fs-2);
    font-weight: 400;
}

h3 {
    font-size: var(--fs-1);
    font-weight: 200;
}

p {
    font-size: var(--fs-2);
    font-weight: 200;
}

.logo{
    font-family: 'Lobster';
    text-decoration: none;
}

/* COLOURS */

:root {
    --primary: #212121;
    --p-light: #333333;
    --text: #FFFFFF;
    --sd-text: #bfbfbf;
    --accent: #0084FF;
    --accent-red: #FC067D;
    --background: #181818;
}

body {
    color: var(--text);
    background-color: var(--background);
}

.clr-primary {
    background-color: var(--primary);
}

.clr-accent {
    background-color: var(--accent);
}

a{
    color: var(--text);
}

em{
    color: var(--accent);
    font-style: normal;
    font-weight: 400;
}

.amp a{
    color: var(--accent);
    font-weight: 400;
}

.amp a:hover{
    color: var(--text);
}

.secondary-text{
    color: var(--sd-text);
    font-weight: 400;
}

/* MOTION */

* {
    transition: var(--mn-3);
}

:root {
    --mn-1: 120ms;
    --mn-2: 240ms;
    --mn-3: 480ms;
    --mn-4: 1000ms;
}


/* LINES */

:root {
    --border: 1px solid var(--accent);
}

.ln {
    border: var(--border);
}

.nl-top {
    border-top: none;
}

.nl-bottom {
    border-bottom: none;
}

.nl-left {
    border-left: none;
}

.nl-right {
    border-right: none;
}

.ln-top {
    border-top: var(--border);
}

.ln-bottom {
    border-bottom: var(--border);
}

.ln-left {
    border-top: var(--border);
}

.ln-right {
    border-right: var(--border);
}


/* COLUMNS */

.cols-1 {
    grid-column: span 1;
}

.cols-2 {
    grid-column: span 2;
}

.cols-3 {
    grid-column: span 3;
}

.cols-4 {
    grid-column: span 4;
}

.cols-5 {
    grid-column: span 5;
}

.cols-6 {
    grid-column: span 6;
}

.cols-7 {
    grid-column: span 7;
}

.cols-8 {
    grid-column: span 8;
}

.cols-9 {
    grid-column: span 9;
}

.cols-10 {
    grid-column: span 10;
}

.cols-11 {
    grid-column: span 11;
}

.cols-12 {
    grid-column: span 12;
}

/* Padding */
.padding-normal{
    padding: var(--sp-base) var(--sp-base) var(--sp-base) var(--sp-base);
}

.padding-top{
    padding: var(--spsc-3) var(--sp-base) var(--sp-base) var(--sp-base);
}

.padding-bot{
    padding: var(--sp-base) var(--sp-base) var(--spsc-3) var(--sp-base);
}

.padding-tnb{
    padding: var(--spsc-3) var(--sp-base) var(--spsc-3) var(--sp-base);
}

@media only screen and (max-width: 1000px){
    .padding-lnr-mobi{
        padding-left: var(--spsc-3);
        padding-right: var(--spsc-3)
}
}

/* Page Transition Animation */
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 20%, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translate3d(-20%, 0, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translate3d(20%, 0, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }

    /** Basic styles for an animated element */
    .scene_element {
      animation-duration: var(--mn-4);
      transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
      animation-fill-mode: both;
  
    }
  
    /** An element that fades in */
    .scene_element--fadein {
      animation-name: fadeIn;
    }
  
    /** An element that fades in and slides up */
    .scene_element--fadeinup {
      animation-name: fadeInUp;
    }
  
    /** An element that fades in and slides from the left */
    .scene_element--fadeinleft {
      animation-name: fadeInLeft;
    }

    /** An element that fades in and slides from the right */
    .scene_element--fadeinright {
        animation-name: fadeInRight;
      }
  

/* Universal Style */

/* Bootstrap Override */
p{
    margin-bottom: 0;
}

.container-fluid{
    padding-bottom: var(--spsc-3);
}

/* General layout */
Body{
    display: grid;
    padding-right: var(--spsc-5);
    grid-template-columns: 3fr 1fr 8fr;
    grid-template-rows: auto;
}

#navBar{
    grid-area: nav;
}

#siteHeader{
    grid-area: siteHeader;
}

#footer{
    grid-area: footer;
}

@media only screen and (max-width: 1000px){
    Body{
         padding-right: 0;
         grid-template-columns: 100%;
         grid-template-rows: auto;
    }

}


/* Navigation */
#navBar {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    height: 100%;
    width: 25%;
    position: fixed;
    top: 0;
}

#navHeader {
    position: relative;
    height: 30%;
    display: flex;
    align-items: center;
}

.navTab a{
    text-decoration: none;
    font-size: var(--fs-2);
    font-weight: 700;
    display: flex;
    transition: var(--mn-1);
}

.navTab a:hover{
    color: var(--accent);
}

.navTab a:active{
    color: var(--accent);
}

#menu{
    display: none;
    cursor: pointer;
}

#mobiNav{
    display: none;
}

@media only screen and (max-width: 1000px){

    #navBar{
         display: none;
    }

    #mobiNav{
         display: block;
         position: sticky;
         top: 0;
         height: fit-content;
         width: 100%;
         z-index: 10;
    }

    #menu{
         display: block;
    }

    #mobinavHeader{
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin: 0 var(--spsc-3) 0 var(--spsc-3);
    }

    .navTab a{
         justify-content: center;
    }

    #mobiGroup{
         display: none;
    }

}

/* Footer */

#footer{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.socialIcon a{
    padding: 0 var(--spsc-3) 0 var(--spsc-3);
}

i:hover{
    color: var(--accent);
}

/* Content */
#content p,h1,h2,h3{
    padding: var(--spsc-3) 0 var(--sp-base) 0;
}

ul{
    padding: 0 var(--spsc-5);
    list-style-type: square;
}

ol{
    padding: 0 var(--spsc-5);
}

li{
    font-size: var(--fs-2);
    font-weight: 200;
    padding: var(--sp-base) 0;
}

.img-fluid{
    padding: var(--spsc-3) 0;
}